.profile_picture {
    width: 100px;
    height: 100px;
}
.active {
    font-weight: bold;
}
.post_picture{
    width: 250px;
}
.slide, audio{
    width: 500px!important;
}
.posts{
    width: 500px;
    margin:0 auto 0 auto;
}